@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans, sans-serif;
    background-color: #212121;
    color: #E0E0E0;
}

span, div, input {
    margin: 0;
    padding: 0;
}

.center {
    /* border: 3px solid green; */
    margin: auto;
    width: 100%;
    padding: 10px 0;
    background-color: #424242;
}

#word_field {
    display: inline;
    font-size: 25px;
    background-color: #424242;
    text-align: center;
    color: #E0E0E0;
    margin: auto;
    width: 80%;
    padding: 0;
    font-family: Noto Sans, sans-serif;
    border: 0;
    -webkit-appearance:none;
    outline: none;
}

span #done, span #error {
    width: 15px;
}

#done, #error  {
    width: 15px;
    margin: 0;
    padding: 5px 0 0;
}

#score_container {
    position: absolute;
    width: 60px;
    height: 38px;
    margin-left: 5px;
}

#score
{
    margin-left: 5px;
    font-size: 25px;
    font-family: Noto Sans, sans-serif;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #00C853;
    background-color: #00C853;
    color: #424242;
}

#hidden_response, #words_cloud {
    font-size: 20px;
    font-family: Noto Sans, sans-serif;
    margin: 10px;
}

#words_cloud {
    text-align: center;
}
