{% extends "base.html" %}

{% block title %}test - words{% endblock %}

{% block header %}
{% load static %}
<script src="{% static "words/app.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="center">
        {% csrf_token %}
        {# <input onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" class="center" type="text" name="word" id="word_field" pattern="\w{2,}" autocomplete="off" autofocus /> #}
        <input class="center" type="text" name="word" id="word_field" pattern="\w+" autocomplete="off" autofocus />
    </div>
{% endblock %}
