{% extends "base.html" %}

{% block title %}test - words{% endblock %}

{% block header %}
{% load static %}
<script src="{% static "words/app.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="center">
        <span id="score_container">
            <div id="score">
                0
            </div>
        </span>
        <span>
            <input type="text" name="word" id="word_field" pattern="\w+" autocomplete="off" autofocus />
        </span>
        <span>
            <img id="done" src="{% static "words/done.png" %}" hidden />
        </span>
        <span>
            <img id="error" src="{% static "words/error.png" %}" hidden />
        </span>
    </div>
    <div id="hidden_response"></div>
{% endblock %}
